html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
// Colors
// $body-color: #0a0a0a;
$text-color: #fafafc;
$description-color: #b0b0b0;
// $body-color: #f8fce1;


//Fonts 
$font-nav: 'Playfair Display', serif;
$font-general: 'Playfair Display', serif;;

body{
    background: rgb(26,25,31);
    background: linear-gradient(90deg, rgba(26,25,31,1) 0%, rgba(26,27,32,1) 49%, rgba(26,29,34,1) 100%); 
    color: $text-color;
    font-family: $font-general;
}

.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    overflow: hidden;
}
//Preloader
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
    .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
    .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
    .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
    .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
    .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.navigation{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    width: 100%;
    height: 95px;
    margin-bottom: 40px;
    overflow: hidden;

    .navigation-logo{
        flex: 1;
        text-decoration: none;
        font-size: 40px;
        font-family: $font-general;
        padding: 20px 40px;
        

        .navigation-logo-link{
            text-decoration: none;
            .navigation-logo-char{
                
                padding: 0 5px;
            }
            .navigation-logo-char:last-child{
                border:none;
            }
        }

        .navigation-logo-link:visited{
            color: $text-color;
        }



    }
    .navigation-menu{
        line-height: 55px;
        display: grid;
        grid-column-gap: 60px;
        letter-spacing: 1px;
        // margin-left: 200px;
        grid-template-columns: repeat(3, 1fr);
        font-family: $font-general;
        font-size: 23px;
        width: 20%;
        justify-content: space-between;
        list-style: none;
    }
    .navigation-menu-component{
        cursor: pointer;
        opacity: 0.5;
    }
    .navigation-menu-component:hover{
        cursor: pointer;
        opacity: 1;
    }
    .navigation-menu-component:last-child{
        margin-right: 40px;
    }
}

.about{
    height: calc(80vh - 80px);
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 100px;
    width: 70%;
    overflow: hidden;
    margin-bottom: 100px;

    .about-image{
        
        transition: all linear 0.5s;
    }
    .about-me{
        padding: 30px;
        margin-left: 30px;
        font-family: $font-general;
        
        .about-me-title{
            font-size:39px;
            font-weight: normal;
            // letter-spacing: 0.5px;
            
        }
        .about-me-body{
            font-size: 25px;
            line-height: 38px;
            color: $description-color;
        }
    }
}

.work{
    margin-top: 20px;
    width: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    // height: 100vh;
    
    .work-community{
        width: 80%;
        display: flex;
        text-decoration: none;
        .work-community-img{
            width: 40%;
            filter: grayscale(90%);
            transition: all linear 0.5s;
        }
        .work-community-img:hover{
            filter: grayscale(0%);
        }
        .work-community-text{
            width: 60%;
            padding: 0 40px;
            font-family: $font-general;
            line-height: 40px;
            letter-spacing: 1px;
            color: $description-color;
            font-size:20px;

            .work-community-text-title{
                color: $text-color;
                font-size: 35px;
            }
        }
        margin-bottom: 50px;
    }


    .work-mentor{
        width: 100%;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        .work-mentor-title{
            font-size: 35px;
            margin-bottom: 0px;
        }
        .work-mentor-description{
            margin-bottom: 30px;
            font-size: 16px;
            color: $description-color;
        }

        .cards{ 
            width: 100%;
            padding: 10px;   
            display: grid;
            // grid-column-gap: 10px;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: minmax(0, auto) minmax(0, auto);
            margin: 0 auto;
            
            .work-mentor-card{
                
                padding: 10px;
                text-decoration: none;
                color: $description-color;
                font-size: 14px;
                filter: grayscale(100%);
                margin: 0 auto;
                transition: all linear 0.5s;
                
                
            }
            .work-mentor-card:hover{
                font-size: 16px;
                filter: grayscale(0%);
                background-color: white;
                color: rgb(26,25,31);
            }
        }
    }
}

.contact{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .contact-info{
        font-size: 25px;

        br{
            display: none;
        }
    }
    .contact-container{
        margin-top: 80px;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 40px;

    }
    .social{
        justify-self: center;
        text-align: center;
        .contact-card{
            width: 100%;
            display: block;
            text-decoration: none;
            color: $text-color;
            
            //icon card social
            .contact-card-icon{
                font-size: 60px;
            }
            .contact-card-title{
                letter-spacing: 1px;
            }
            .contact-card-tag{
                color: $description-color;
                font-family: sans-serif;
                letter-spacing: 1px;
            }
        }
    }

    .facebook{
        transition: all linear 0.5s;
    }
    .facebook:hover i{
        color: #077ae9;
        font-size: 70px;
    }

    .instagram{
        transition: all linear 0.5s;
    }
    .instagram:hover i{
        color: #c1339f;
    }

    .linkedin{
        transition: all linear 0.5s;
    }
    .linkedin:hover i{
        color: #1376da;
    }

    .whatsapp{
        transition: all linear 0.5s;
        
    }
    .whatsapp:hover i{
        color: #49c759;
    }
    .github{
        transition: all linear 0.5s;
    }
    .github:hover i{
        color: #e94e31;
    }
    .mail{
        transition: all linear 0.5s;
    }
    .mail:hover i{
        color: #c5221e;
    }
    
}

.footer{
    display: block;
    height: 95px;
    margin-top: 150px;
    font-weight: normal;
    .credits{
        margin-top: 60px;
        font-weight: normal;
    }
}


//Breakpoints
$breakpoint-one: 1194px;
@media(max-width:$breakpoint-one){
    .about{
        margin-bottom: 0px;
    }
    .work{
        
        .work-mentor{
            .cards{
                grid-template-columns: 1fr 1fr;
            }
        }
        
    }
}
$breakpoint-two:1115px;
@media (max-width:$breakpoint-two){
    .work{
        .work-community{
            .work-community-img{
                width: 50%;
            }
            .work-community-text{
                width: 50%;
                font-size: 15px;
                line-height: 30px;
                .work-community-text-title{
                    font-size: 25px;
                }
            }
        }
    }
}

$breakpoint-contact:1096px;
@media (max-width:$breakpoint-contact){
    .contact{
        .contact-container{
            margin-top: 80px;
            width: 80%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 40px;
    
        }
    }
    .social{
        
        .contact-card{
            //icon card social
            .contact-card-icon{
                font-size: 40px;
            }
            .contact-card-title{
                letter-spacing: 1px;
                font-size: 15px;
            }
            .contact-card-tag{
                font-size: 13px;
                letter-spacing: .5px;
            }
        }
    }
}

$breakpoint-three:1068px;
@media (max-width:$breakpoint-three){
    .about{
        // .about-image{
            
        // }
        .about-me{
            margin-top: -50px;
            .about-me-title{
                font-size: 35px;
            }
            .about-me-body{
                font-size: 20px;
            }
        }
    }
}


$breakpoint-four:1045px;
@media (max-width:$breakpoint-four){
    .contact{
        .contact-info{
            br{
                display: block;
            }
        }
    }
}

$breakpoint-five:868px;
@media (max-width:$breakpoint-five){
    .about{
        // .about-image{
            
        // }
        .about-me{
            margin-top: -30px;
            .about-me-title{
                font-size: 25px;
            }
            .about-me-body{
                font-size: 15px;
            }
        }
    }
}


//ipad breakponit 
$breakpoint-six:815px;
@media (max-width:$breakpoint-six){
    .about{
        .about-image{
           height: 300px; 
           width: 220px;
        }
        .about-me{
            padding: 0px 30px;
            margin-top: -10px;
            .about-me-title{
                font-size: 25px;
            }
            .about-me-body{
                font-size: 15px;
                line-height: 30px;
            }
        }
    }
    .work{
        
        .work-mentor{
            .cards{
                grid-template-columns: 1fr;
            }
        }
        
    }
    .contact{
        .contact-info{
            font-size: 20px;
        }
        .contact-container{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3, 1fr);
            
    
        }
    }
}

$breakpoint-seven:771px;
@media(max-width:$breakpoint-seven){
    .work{
        
        
        .work-community{
            width: 100%;
            flex-direction: column;
            align-items: center;

            .work-community-img{
                width: 80%;
                filter: grayscale(0%);
                
            }
            .work-community-text{
                width: 80%;
                padding: 0;
                line-height: 20px;
                letter-spacing: 0.5px;
                font-size:15px;
    
                .work-community-text-title{
                    font-size: 20px;
                }
            }
        }
    }
}